# SPDX-FileCopyrightText: 2021 ladyada for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

build/*
*zip
.env
bundles
CircuitPython_Library_Screenshot_Maker/
.DS_Store
generated_images/
latest_bundle_data.json
latest_bundle_tag.json
docs/_build/
.idea
