[submodule "libraries/register"]
	path = libraries/helpers/register
	url = https://github.com/adafruit/Adafruit_CircuitPython_Register.git
[submodule "libraries/bus_device"]
	path = libraries/helpers/bus_device
	url = https://github.com/adafruit/Adafruit_CircuitPython_BusDevice.git
[submodule "libraries/helpers/simpleio"]
	path = libraries/helpers/simpleio
	url = https://github.com/adafruit/Adafruit_CircuitPython_SimpleIO.git
[submodule "libraries/drivers/mcp9808"]
	path = libraries/drivers/mcp9808
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP9808.git
[submodule "libraries/drivers/thermistor"]
	path = libraries/drivers/thermistor
	url = https://github.com/adafruit/Adafruit_CircuitPython_Thermistor.git
[submodule "libraries/drivers/mpr121"]
	path = libraries/drivers/mpr121
	url = https://github.com/adafruit/Adafruit_CircuitPython_MPR121.git
[submodule "libraries/drivers/si7021"]
	path = libraries/drivers/si7021
	url = https://github.com/adafruit/Adafruit_CircuitPython_SI7021.git
[submodule "libraries/drivers/max31855"]
	path = libraries/drivers/max31855
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX31855.git
[submodule "libraries/drivers/bno055"]
	path = libraries/drivers/bno055
	url = https://github.com/adafruit/Adafruit_CircuitPython_BNO055.git
[submodule "libraries/drivers/lis3dh"]
	path = libraries/drivers/lis3dh
	url = https://github.com/adafruit/Adafruit_CircuitPython_LIS3DH.git
[submodule "libraries/helpers/hid"]
	path = libraries/helpers/hid
	url = https://github.com/adafruit/Adafruit_CircuitPython_HID.git
[submodule "cipy_pca9685"]
	path = libraries/drivers/pca9685
	url = https://github.com/adafruit/Adafruit_CircuitPython_PCA9685.git
[submodule "cipy_ht16k33"]
	path = libraries/drivers/ht16k33
	url = https://github.com/adafruit/Adafruit_CircuitPython_HT16K33.git
[submodule "rgb_display"]
	path = libraries/drivers/rgb-display
	url = https://github.com/adafruit/Adafruit_CircuitPython_RGB_Display.git
[submodule "cipy_neopixel"]
	path = libraries/drivers/neopixel
	url = https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel.git
[submodule "cipy_ssd1306"]
	path = libraries/drivers/ssd1306
	url = https://github.com/adafruit/Adafruit_CircuitPython_SSD1306.git
[submodule "libraries/drivers/pcf8523"]
	path = libraries/drivers/pcf8523
	url = https://github.com/adafruit/Adafruit_CircuitPython_PCF8523.git
[submodule "is31fl3731_2"]
	path = libraries/drivers/is31fl3731
	url = https://github.com/adafruit/Adafruit_CircuitPython_IS31FL3731.git
[submodule "libraries/helpers/rtttl"]
	path = libraries/helpers/rtttl
	url = https://github.com/adafruit/Adafruit_CircuitPython_RTTTL.git
[submodule "libraries/helpers/waveform"]
	path = libraries/helpers/waveform
	url = https://github.com/adafruit/Adafruit_CircuitPython_Waveform.git
[submodule "libraries/drivers/dotstar"]
	path = libraries/drivers/dotstar
	url = https://github.com/adafruit/Adafruit_CircuitPython_DotStar.git
[submodule "libraries/drivers/circuitplayground"]
	path = libraries/drivers/circuitplayground
	url = https://github.com/adafruit/Adafruit_CircuitPython_CircuitPlayground.git
[submodule "libraries/drivers/sdcard"]
	path = libraries/drivers/sdcard
	url = https://github.com/adafruit/Adafruit_CircuitPython_SD.git
[submodule "libraries/drivers/ds3231"]
	path = libraries/drivers/ds3231
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS3231.git
[submodule "libraries/drivers/max7219"]
	path = libraries/drivers/max7219
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX7219.git
[submodule "libraries/drivers/dht"]
	path = libraries/drivers/dht
	url = https://github.com/adafruit/Adafruit_CircuitPython_DHT.git
[submodule "libraries/drivers/ccs811"]
	path = libraries/drivers/ccs811
	url = https://github.com/adafruit/Adafruit_CircuitPython_CCS811.git
[submodule "libraries/drivers/bmp280"]
	path = libraries/drivers/bmp280
	url = https://github.com/adafruit/Adafruit_CircuitPython_BMP280.git
[submodule "libraries/drivers/bme280"]
	path = libraries/drivers/bme280
	url = https://github.com/adafruit/Adafruit_CircuitPython_BME280.git
[submodule "libraries/drivers/bme680"]
	path = libraries/drivers/bme680
	url = https://github.com/adafruit/Adafruit_CircuitPython_BME680.git
[submodule "libraries/drivers/tsl2561"]
	path = libraries/drivers/tsl2561
	url = https://github.com/adafruit/Adafruit_CircuitPython_TSL2561.git
[submodule "libraries/drivers/ads1x15"]
	path = libraries/drivers/ads1x15
	url = https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15.git
[submodule "libraries/drivers/gps"]
	path = libraries/drivers/gps
	url = https://github.com/adafruit/Adafruit_CircuitPython_GPS.git
[submodule "libraries/drivers/vc0706"]
	path = libraries/drivers/vc0706
	url = https://github.com/adafruit/Adafruit_CircuitPython_VC0706.git
[submodule "libraries/drivers/charlcd"]
	path = libraries/drivers/charlcd
	url = https://github.com/adafruit/Adafruit_CircuitPython_CharLCD.git
[submodule "libraries/drivers/amg88xx"]
	path = libraries/drivers/amg88xx
	url = https://github.com/adafruit/Adafruit_CircuitPython_AMG88xx.git
[submodule "libraries/drivers/seesaw"]
	path = libraries/drivers/seesaw
	url = https://github.com/adafruit/Adafruit_CircuitPython_Seesaw.git
[submodule "libraries/drivers/fingerprint"]
	path = libraries/drivers/fingerprint
	url = https://github.com/adafruit/Adafruit_CircuitPython_Fingerprint.git
[submodule "libraries/drivers/max31865"]
	path = libraries/drivers/max31865
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX31865.git
[submodule "libraries/drivers/ina219"]
	path = libraries/drivers/ina219
	url = https://github.com/adafruit/Adafruit_CircuitPython_INA219.git
[submodule "libraries/drivers/ds1307"]
	path = libraries/drivers/ds1307
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS1307.git
[submodule "libraries/drivers/irremote"]
	path = libraries/drivers/irremote
	url = https://github.com/adafruit/Adafruit_CircuitPython_IRRemote.git
[submodule "libraries/drivers/fxos8700"]
	path = libraries/drivers/fxos8700
	url = https://github.com/adafruit/Adafruit_CircuitPython_FXOS8700.git
[submodule "libraries/drivers/vcnl4010"]
	path = libraries/drivers/vcnl4010
	url = https://github.com/adafruit/Adafruit_CircuitPython_VCNL4010.git
[submodule "libraries/drivers/drv2605"]
	path = libraries/drivers/drv2605
	url = https://github.com/adafruit/Adafruit_CircuitPython_DRV2605.git
[submodule "libraries/drivers/tcs34725"]
	path = libraries/drivers/tcs34725
	url = https://github.com/adafruit/Adafruit_CircuitPython_TCS34725.git
[submodule "libraries/drivers/lsm9ds0"]
	path = libraries/drivers/lsm9ds0
	url = https://github.com/adafruit/Adafruit_CircuitPython_LSM9DS0.git
[submodule "libraries/drivers/lsm9ds1"]
	path = libraries/drivers/lsm9ds1
	url = https://github.com/adafruit/Adafruit_CircuitPython_LSM9DS1.git
[submodule "libraries/drivers/fxas21002c"]
	path = libraries/drivers/fxas21002c
	url = https://github.com/adafruit/Adafruit_CircuitPython_FXAS21002C.git
[submodule "libraries/drivers/vl530l0x"]
	path = libraries/drivers/vl53l0x
	url = https://github.com/adafruit/Adafruit_CircuitPython_VL53L0X.git
[submodule "libraries/drivers/apds9960"]
	path = libraries/drivers/apds9960
	url = https://github.com/adafruit/Adafruit_CircuitPython_APDS9960.git
[submodule "libraries/helpers/featherwing"]
	path = libraries/helpers/featherwing
	url = https://github.com/adafruit/Adafruit_CircuitPython_FeatherWing.git
[submodule "libraries/helpers/motor"]
	path = libraries/helpers/motor
	url = https://github.com/adafruit/Adafruit_CircuitPython_Motor.git
[submodule "libraries/helpers/avrprog"]
	path = libraries/helpers/avrprog
	url = https://github.com/adafruit/Adafruit_CircuitPython_AVRprog.git
[submodule "libraries/drivers/sgp30"]
	path = libraries/drivers/sgp30
	url = https://github.com/adafruit/Adafruit_CircuitPython_SGP30.git
[submodule "libraries/helpers/onewire"]
	path = libraries/helpers/onewire
	url = https://github.com/adafruit/Adafruit_CircuitPython_OneWire.git
[submodule "libraries/drivers/vl6180x"]
	path = libraries/drivers/vl6180x
	url = https://github.com/adafruit/Adafruit_CircuitPython_VL6180X.git
[submodule "libraries/drivers/ds2413"]
	path = libraries/drivers/ds2413
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS2413.git
[submodule "libraries/drivers/thermal_printer"]
	path = libraries/drivers/thermal_printer
	url = https://github.com/adafruit/Adafruit_CircuitPython_Thermal_Printer.git
[submodule "libraries/drivers/rfm69"]
	path = libraries/drivers/rfm69
	url = https://github.com/adafruit/Adafruit_CircuitPython_RFM69.git
[submodule "libraries/drivers/veml6070"]
	path = libraries/drivers/veml6070
	url = https://github.com/adafruit/Adafruit_CircuitPython_VEML6070.git
[submodule "libraries/helpers/fancyled"]
	path = libraries/helpers/fancyled
	url = https://github.com/adafruit/Adafruit_CircuitPython_FancyLED.git
[submodule "libraries/drivers/tsl2591"]
	path = libraries/drivers/tsl2591
	url = https://github.com/adafruit/Adafruit_CircuitPython_TSL2591.git
[submodule "libraries/drivers/mcp4725"]
	path = libraries/drivers/mcp4725
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP4725.git
[submodule "libraries/drivers/max9744"]
	path = libraries/drivers/max9744
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX9744.git
[submodule "libraries/drivers/tlc59711"]
	path = libraries/drivers/tlc59711
	url = https://github.com/adafruit/Adafruit_CircuitPython_TLC59711.git
[submodule "libraries/drivers/tlc5947"]
	path = libraries/drivers/tlc5947
	url = https://github.com/adafruit/Adafruit_CircuitPython_TLC5947.git
[submodule "libraries/drivers/mma8451"]
	path = libraries/drivers/mma8451
	url = https://github.com/adafruit/Adafruit_CircuitPython_MMA8451.git
[submodule "libraries/drivers/si5351"]
	path = libraries/drivers/si5351
	url = https://github.com/adafruit/Adafruit_CircuitPython_SI5351.git
[submodule "libraries/drivers/sht31"]
	path = libraries/drivers/sht31
	url = https://github.com/adafruit/Adafruit_CircuitPython_SHT31D.git
[submodule "libraries/drivers/si4713"]
	path = libraries/drivers/si4713
	url = https://github.com/adafruit/Adafruit_CircuitPython_SI4713.git
[submodule "libraries/drivers/mpl3115a2"]
	path = libraries/drivers/mpl3115a2
	url = https://github.com/adafruit/Adafruit_CircuitPython_MPL3115A2.git
[submodule "libraries/drivers/lsm303"]
	path = libraries/drivers/lsm303
	url = https://github.com/adafruit/Adafruit_CircuitPython_LSM303.git
[submodule "libraries/drivers/ds18x20"]
	path = libraries/drivers/ds18x20
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS18X20.git
[submodule "libraries/drivers/rfm9x"]
	path = libraries/drivers/rfm9x
	url = https://github.com/adafruit/Adafruit_CircuitPython_RFM9x.git
[submodule "libraries/drivers/am2320"]
	path = libraries/drivers/am2320
	url = https://github.com/adafruit/Adafruit_CircuitPython_AM2320.git
[submodule "libraries/drivers/mcp230xx"]
	path = libraries/drivers/mcp230xx
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP230xx.git
[submodule "libraries/drivers/trellis"]
	path = libraries/drivers/trellis
	url = https://github.com/adafruit/Adafruit_CircuitPython_Trellis.git
[submodule "libraries/drivers/ws2801"]
	path = libraries/drivers/ws2801
	url = https://github.com/adafruit/Adafruit_CircuitPython_WS2801.git
[submodule "libraries/drivers/focaltouch"]
	path = libraries/drivers/focaltouch
	url = https://github.com/adafruit/Adafruit_CircuitPython_FocalTouch.git
[submodule "libraries/drivers/as726x"]
	path = libraries/drivers/as726x
	url = https://github.com/adafruit/Adafruit_CircuitPython_AS726x.git
[submodule "libraries/drivers/stmpe610"]
	path = libraries/drivers/stmpe610
	url = https://github.com/adafruit/Adafruit_CircuitPython_STMPE610.git
[submodule "libraries/drivers/matrixkeypad"]
	path = libraries/drivers/matrixkeypad
	url = https://github.com/adafruit/Adafruit_CircuitPython_MatrixKeypad.git
[submodule "libraries/drivers/l3gd20"]
	path = libraries/drivers/l3gd20
	url = https://github.com/adafruit/Adafruit_CircuitPython_L3GD20.git
[submodule "libraries/drivers/crickit"]
	path = libraries/drivers/crickit
	url = https://github.com/adafruit/Adafruit_CircuitPython_Crickit.git
[submodule "libraries/drivers/pixie"]
	path = libraries/drivers/pixie
	url = https://github.com/adafruit/Adafruit_CircuitPython_Pixie.git
[submodule "libraries/drivers/epd"]
	path = libraries/drivers/epd
	url = https://github.com/adafruit/Adafruit_CircuitPython_EPD.git
[submodule "libraries/drivers/neotrellis"]
	path = libraries/drivers/neotrellis
	url = https://github.com/adafruit/Adafruit_CircuitPython_NeoTrellis
[submodule "libraries/drivers/tmp007"]
	path = libraries/drivers/tmp007
	url = https://github.com/adafruit/Adafruit_CircuitPython_TMP007.git
[submodule "libraries/drivers/tca9584a"]
	path = libraries/drivers/tca9584a
	url = https://github.com/adafruit/Adafruit_CircuitPython_TCA9548A.git
[submodule "libraries/drivers/mcp3xxx"]
	path = libraries/drivers/mcp3xxx
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP3xxx.git
[submodule "libraries/helpers/led-animation"]
	path = libraries/helpers/led-animation
	url = https://github.com/adafruit/Adafruit_CircuitPython_LED_Animation.git
[submodule "libraries/drivers/mlx90614"]
	path = libraries/drivers/mlx90614
	url = https://github.com/adafruit/Adafruit_CircuitPython_MLX90614.git
[submodule "libraries/drivers/pn532"]
	path = libraries/drivers/pn532
	url = https://github.com/adafruit/Adafruit_CircuitPython_PN532.git
[submodule "libraries/helpers/imageload"]
	path = libraries/helpers/imageload
	url = https://github.com/adafruit/Adafruit_CircuitPython_ImageLoad.git
[submodule "libraries/drivers/hcsr04"]
	path = libraries/drivers/hcsr04
	url = https://github.com/adafruit/Adafruit_CircuitPython_HCSR04.git
[submodule "libraries/drivers/mprls"]
	path = libraries/drivers/mprls
	url = https://github.com/adafruit/Adafruit_CircuitPython_MPRLS.git
[submodule "libraries/drivers/veml6075"]
	path = libraries/drivers/veml6075
	url = https://github.com/adafruit/Adafruit_CircuitPython_VEML6075.git
[submodule "libraries/helpers/miniqr"]
	path = libraries/helpers/miniqr
	url = https://github.com/adafruit/Adafruit_CircuitPython_miniQR.git
[submodule "libraries/drivers/htu21d"]
	path = libraries/drivers/htu21d
	url = https://github.com/adafruit/Adafruit_CircuitPython_HTU21D.git
[submodule "libraries/drivers/lidarlite"]
	path = libraries/drivers/lidarlite
	url = https://github.com/adafruit/Adafruit_CircuitPython_LIDARLite.git
[submodule "libraries/helpers/slideshow"]
	path = libraries/helpers/slideshow
	url = https://github.com/adafruit/Adafruit_CircuitPython_Slideshow.git
[submodule "libraries/drivers/cap1188"]
	path = libraries/drivers/cap1188
	url = https://github.com/adafruit/Adafruit_CircuitPython_CAP1188.git
[submodule "libraries/drivers/max31856"]
	path = libraries/drivers/max31856
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX31856.git
[submodule "libraries/drivers/adxl34x"]
	path = libraries/drivers/adxl34x
	url = https://github.com/adafruit/Adafruit_CircuitPython_ADXL34x.git
[submodule "libraries/drivers/trellism4"]
	path = libraries/drivers/trellism4
	url = https://github.com/adafruit/Adafruit_CircuitPython_TrellisM4.git
[submodule "libraries/drivers/tfmini"]
	path = libraries/drivers/tfmini
	url = https://github.com/adafruit/Adafruit_CircuitPython_TFmini.git
[submodule "libraries/drivers/vs1053"]
	path = libraries/drivers/vs1053
	url = https://github.com/adafruit/Adafruit_CircuitPython_VS1053.git
[submodule "libraries/drivers/fram"]
	path = libraries/drivers/fram
	url = https://github.com/adafruit/Adafruit_CircuitPython_FRAM.git
[submodule "libraries/drivers/mlx90393"]
	path = libraries/drivers/mlx90393
	url = https://github.com/adafruit/Adafruit_CircuitPython_MLX90393.git
[submodule "libraries/drivers/bluefruitspi"]
	path = libraries/drivers/bluefruitspi
	url = https://github.com/adafruit/Adafruit_CircuitPython_BluefruitSPI.git
[submodule "libraries/drivers/bmp3xx"]
	path = libraries/drivers/bmp3xx
	url = https://github.com/adafruit/Adafruit_CircuitPython_BMP3XX.git
[submodule "libraries/drivers/mpl115a2"]
	path = libraries/drivers/mpl115a2
	url = https://github.com/adafruit/Adafruit_CircuitPython_MPL115A2.git
[submodule "libraries/drivers/74hc595"]
	path = libraries/drivers/74hc595
	url = https://github.com/adafruit/Adafruit_CircuitPython_74HC595.git
[submodule "libraries/drivers/tmp006"]
	path = libraries/drivers/tmp006
	url = https://github.com/adafruit/Adafruit_CircuitPython_TMP006.git
[submodule "libraries/helpers/tinylora"]
	path = libraries/helpers/tinylora
	url = https://github.com/adafruit/Adafruit_CircuitPython_TinyLoRa.git
[submodule "libraries/helpers/motorkit"]
	path = libraries/helpers/motorkit
	url = https://github.com/adafruit/Adafruit_CircuitPython_MotorKit.git
[submodule "libraries/drivers/esp-atcontrol"]
	path = libraries/drivers/esp-atcontrol
	url = https://github.com/adafruit/Adafruit_CircuitPython_ESP_ATcontrol.git
[submodule "libraries/helpers/miniesptool"]
	path = libraries/helpers/miniesptool
	url = https://github.com/adafruit/Adafruit_CircuitPython_miniesptool.git
[submodule "libraries/helpers/framebuf"]
	path = libraries/helpers/framebuf
	url = https://github.com/adafruit/Adafruit_CircuitPython_framebuf.git
[submodule "libraries/drivers/sharpmemorydisplay"]
	path = libraries/drivers/sharpmemorydisplay
	url = https://github.com/adafruit/Adafruit_CircuitPython_SharpMemoryDisplay.git
[submodule "libraries/drivers/pcd8544"]
	path = libraries/drivers/pcd8544
	url = https://github.com/adafruit/Adafruit_CircuitPython_PCD8544.git
[submodule "libraries/drivers/us100"]
	path = libraries/drivers/us100
	url = https://github.com/adafruit/Adafruit_CircuitPython_US100.git
[submodule "libraries/helpers/servokit"]
	path = libraries/helpers/servokit
	url = https://github.com/adafruit/Adafruit_CircuitPython_ServoKit.git
[submodule "libraries/helpers/debouncer"]
	path = libraries/helpers/debouncer
	url = https://github.com/adafruit/Adafruit_CircuitPython_Debouncer.git
[submodule "libraries/drivers/adt7410"]
	path = libraries/drivers/adt7410
	url = https://github.com/adafruit/Adafruit_CircuitPython_ADT7410.git
[submodule "libraries/helpers/boardtest"]
	path = libraries/helpers/boardtest
	url = https://github.com/adafruit/Adafruit_CircuitPython_BoardTest.git
