[submodule "libraries/register"]
	path = libraries/helpers/register
	url = https://github.com/adafruit/Adafruit_CircuitPython_Register.git
[submodule "libraries/bus_device"]
	path = libraries/helpers/bus_device
	url = https://github.com/adafruit/Adafruit_CircuitPython_BusDevice.git
[submodule "libraries/helpers/simpleio"]
	path = libraries/helpers/simpleio
	url = https://github.com/adafruit/Adafruit_CircuitPython_SimpleIO.git
[submodule "libraries/drivers/mcp9808"]
	path = libraries/drivers/mcp9808
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP9808.git
[submodule "libraries/drivers/thermistor"]
	path = libraries/drivers/thermistor
	url = https://github.com/adafruit/Adafruit_CircuitPython_Thermistor.git
[submodule "libraries/drivers/mpr121"]
	path = libraries/drivers/mpr121
	url = https://github.com/adafruit/Adafruit_CircuitPython_MPR121.git
[submodule "libraries/drivers/si7021"]
	path = libraries/drivers/si7021
	url = https://github.com/adafruit/Adafruit_CircuitPython_SI7021.git
[submodule "libraries/drivers/max31855"]
	path = libraries/drivers/max31855
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX31855.git
[submodule "libraries/drivers/bno055"]
	path = libraries/drivers/bno055
	url = https://github.com/adafruit/Adafruit_CircuitPython_BNO055.git
[submodule "libraries/drivers/lis3dh"]
	path = libraries/drivers/lis3dh
	url = https://github.com/adafruit/Adafruit_CircuitPython_LIS3DH.git
[submodule "libraries/helpers/hid"]
	path = libraries/helpers/hid
	url = https://github.com/adafruit/Adafruit_CircuitPython_HID.git
[submodule "cipy_pca9685"]
	path = libraries/drivers/pca9685
	url = https://github.com/adafruit/Adafruit_CircuitPython_PCA9685.git
[submodule "cipy_ht16k33"]
	path = libraries/drivers/ht16k33
	url = https://github.com/adafruit/Adafruit_CircuitPython_HT16K33.git
[submodule "rgb_display"]
	path = libraries/drivers/rgb-display
	url = https://github.com/adafruit/Adafruit_CircuitPython_RGB_Display.git
[submodule "cipy_neopixel"]
	path = libraries/drivers/neopixel
	url = https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel.git
[submodule "cipy_ssd1306"]
	path = libraries/drivers/ssd1306
	url = https://github.com/adafruit/Adafruit_CircuitPython_SSD1306.git
[submodule "libraries/drivers/pcf8523"]
	path = libraries/drivers/pcf8523
	url = https://github.com/adafruit/Adafruit_CircuitPython_PCF8523.git
[submodule "is31fl3731_2"]
	path = libraries/drivers/is31fl3731
	url = https://github.com/adafruit/Adafruit_CircuitPython_IS31FL3731.git
[submodule "libraries/helpers/rtttl"]
	path = libraries/helpers/rtttl
	url = https://github.com/adafruit/Adafruit_CircuitPython_RTTTL.git
[submodule "libraries/helpers/waveform"]
	path = libraries/helpers/waveform
	url = https://github.com/adafruit/Adafruit_CircuitPython_Waveform.git
[submodule "libraries/drivers/dotstar"]
	path = libraries/drivers/dotstar
	url = https://github.com/adafruit/Adafruit_CircuitPython_DotStar.git
[submodule "libraries/drivers/circuitplayground"]
	path = libraries/drivers/circuitplayground
	url = https://github.com/adafruit/Adafruit_CircuitPython_CircuitPlayground.git
[submodule "libraries/drivers/sdcard"]
	path = libraries/drivers/sdcard
	url = https://github.com/adafruit/Adafruit_CircuitPython_SD.git
[submodule "libraries/drivers/ds3231"]
	path = libraries/drivers/ds3231
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS3231.git
[submodule "libraries/drivers/max7219"]
	path = libraries/drivers/max7219
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX7219.git
[submodule "libraries/drivers/dht"]
	path = libraries/drivers/dht
	url = https://github.com/adafruit/Adafruit_CircuitPython_DHT.git
[submodule "libraries/drivers/ccs811"]
	path = libraries/drivers/ccs811
	url = https://github.com/adafruit/Adafruit_CircuitPython_CCS811.git
[submodule "libraries/drivers/bmp280"]
	path = libraries/drivers/bmp280
	url = https://github.com/adafruit/Adafruit_CircuitPython_BMP280.git
[submodule "libraries/drivers/bme280"]
	path = libraries/drivers/bme280
	url = https://github.com/adafruit/Adafruit_CircuitPython_BME280.git
[submodule "libraries/drivers/bme680"]
	path = libraries/drivers/bme680
	url = https://github.com/adafruit/Adafruit_CircuitPython_BME680.git
[submodule "libraries/drivers/tsl2561"]
	path = libraries/drivers/tsl2561
	url = https://github.com/adafruit/Adafruit_CircuitPython_TSL2561.git
[submodule "libraries/drivers/ads1x15"]
	path = libraries/drivers/ads1x15
	url = https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15.git
[submodule "libraries/drivers/gps"]
	path = libraries/drivers/gps
	url = https://github.com/adafruit/Adafruit_CircuitPython_GPS.git
[submodule "libraries/drivers/vc0706"]
	path = libraries/drivers/vc0706
	url = https://github.com/adafruit/Adafruit_CircuitPython_VC0706.git
[submodule "libraries/drivers/charlcd"]
	path = libraries/drivers/charlcd
	url = https://github.com/adafruit/Adafruit_CircuitPython_CharLCD.git
[submodule "libraries/drivers/amg88xx"]
	path = libraries/drivers/amg88xx
	url = https://github.com/adafruit/Adafruit_CircuitPython_AMG88xx
[submodule "libraries/drivers/seesaw"]
	path = libraries/drivers/seesaw
	url = https://github.com/adafruit/Adafruit_CircuitPython_Seesaw
[submodule "libraries/drivers/fingerprint"]
	path = libraries/drivers/fingerprint
	url = https://github.com/adafruit/Adafruit_CircuitPython_Fingerprint
[submodule "libraries/drivers/max31865"]
	path = libraries/drivers/max31865
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX31865.git
[submodule "libraries/drivers/ina219"]
	path = libraries/drivers/ina219
	url = https://github.com/adafruit/Adafruit_CircuitPython_INA219.git
[submodule "libraries/drivers/ds1307"]
	path = libraries/drivers/ds1307
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS1307.git
[submodule "libraries/drivers/irremote"]
	path = libraries/drivers/irremote
	url = https://github.com/adafruit/Adafruit_CircuitPython_IRRemote.git
[submodule "libraries/drivers/fxos8700"]
	path = libraries/drivers/fxos8700
	url = https://github.com/adafruit/Adafruit_CircuitPython_FXOS8700.git
[submodule "libraries/drivers/vcnl4010"]
	path = libraries/drivers/vcnl4010
	url = https://github.com/adafruit/Adafruit_CircuitPython_VCNL4010.git
[submodule "libraries/drivers/drv2605"]
	path = libraries/drivers/drv2605
	url = https://github.com/adafruit/Adafruit_CircuitPython_DRV2605.git
[submodule "libraries/drivers/tcs34725"]
	path = libraries/drivers/tcs34725
	url = https://github.com/adafruit/Adafruit_CircuitPython_TCS34725.git
[submodule "libraries/drivers/lsm9ds0"]
	path = libraries/drivers/lsm9ds0
	url = https://github.com/adafruit/Adafruit_CircuitPython_LSM9DS0.git
[submodule "libraries/drivers/lsm9ds1"]
	path = libraries/drivers/lsm9ds1
	url = https://github.com/adafruit/Adafruit_CircuitPython_LSM9DS1.git
[submodule "libraries/drivers/fxas21002c"]
	path = libraries/drivers/fxas21002c
	url = https://github.com/adafruit/Adafruit_CircuitPython_FXAS21002C.git
[submodule "libraries/drivers/vl530l0x"]
	path = libraries/drivers/vl53l0x
	url = https://github.com/adafruit/Adafruit_CircuitPython_VL53L0X.git
[submodule "libraries/drivers/apds9960"]
	path = libraries/drivers/apds9960
	url = https://github.com/adafruit/Adafruit_CircuitPython_APDS9960
[submodule "libraries/helpers/featherwing"]
	path = libraries/helpers/featherwing
	url = https://github.com/adafruit/Adafruit_CircuitPython_FeatherWing.git
[submodule "libraries/helpers/motor"]
	path = libraries/helpers/motor
	url = https://github.com/adafruit/Adafruit_CircuitPython_Motor.git
[submodule "libraries/helpers/avrprog"]
	path = libraries/helpers/avrprog
	url = https://github.com/adafruit/Adafruit_CircuitPython_AVRprog.git
[submodule "libraries/drivers/sgp30"]
	path = libraries/drivers/sgp30
	url = https://github.com/adafruit/Adafruit_CircuitPython_SGP30.git
[submodule "libraries/drivers/ds18x20"]
	path = libraries/drivers/ds18x20
	url = https://github.com/adafruit/Adafruit_CircuitPython_OneWire.git
[submodule "libraries/helpers/onewire"]
	path = libraries/helpers/onewire
	url = https://github.com/adafruit/Adafruit_CircuitPython_OneWire.git
[submodule "libraries/drivers/vl6180x"]
	path = libraries/drivers/vl6180x
	url = https://github.com/adafruit/Adafruit_CircuitPython_VL6180X.git
[submodule "libraries/drivers/ds2413"]
	path = libraries/drivers/ds2413
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS2413.git
[submodule "libraries/drivers/thermal_printer"]
	path = libraries/drivers/thermal_printer
	url = https://github.com/adafruit/Adafruit_CircuitPython_Thermal_Printer.git
[submodule "libraries/drivers/rfm69"]
	path = libraries/drivers/rfm69
	url = https://github.com/adafruit/Adafruit_CircuitPython_RFM69.git
[submodule "libraries/drivers/veml6070"]
	path = libraries/drivers/veml6070
	url = https://github.com/adafruit/Adafruit_CircuitPython_VEML6070.git
[submodule "libraries/helpers/fancyled"]
	path = libraries/helpers/fancyled
	url = https://github.com/adafruit/Adafruit_CircuitPython_FancyLED.git
[submodule "libraries/drivers/tsl2591"]
	path = libraries/drivers/tsl2591
	url = https://github.com/adafruit/Adafruit_CircuitPython_TSL2591.git
[submodule "libraries/drivers/mcp4725"]
	path = libraries/drivers/mcp4725
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP4725.git
[submodule "libraries/drivers/max9744"]
	path = libraries/drivers/max9744
	url = https://github.com/adafruit/Adafruit_CircuitPython_MAX9744.git
